<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<title>movies thymeleaf</title>
</head>
<body>
	<div class="container">
		<h1 class="pagetitle">movies thymeleaf</h1>


		<form id="frm" method="post" action="#" th:action="@{/t/movies}"
			th:object="${movie}">
			<div id="messageArea">
				<ul th:if="${#fields.hasErrors('global')}">
					<li th:each="err : ${#fields.errors('global')}" th:text="${err}">Input
						is incorrect</li>
				</ul>
			</div>
			<input th:field="*{id}" type="hidden">
			<fieldset class="form-group">
				<label for="movie.field.title" th:text="#{movie.title}+':'">Title:
				</label> <input id="movie.field.title" th:field="*{title}" type="text"
					class="form-control" /> <span
					id="movie.help.title" th:if="${#fields.hasErrors('title')}"
					th:errors="*{title}" th:errorclass="alert-danger">-</span>
			</fieldset>
			<fieldset class="form-group">
				<label for="movie.field.releasedDate" th:text="#{movie.releasedDate}+':'">Released Date: </label> <input id="movie.field.releasedDate"
					th:field="*{releasedDate}" type="date" class="form-control" /> <span
					id="movie.help.releasedDate" th:if="${#fields.hasErrors('releasedDate')}" th:errors="*{releasedDate}" th:errorclass="alert-danger">-</span>
			</fieldset>
			<fieldset class="form-group">
				<label for="movie.field.budget" th:text="#{movie.budget}+':'">Budget: </label> <input id="movie.field.budget"
					 th:field="*{budget}" type="text" class="form-control" /> <span
					id="movie.help.budget" th:if="${#fields.hasErrors('budget')}" th:errors="*{budget}" th:errorclass="alert-danger"></span>
			</fieldset>
			<fieldset class="form-group">
				<label>Poster: </label> <input id="movie.field.poster"
					th:field="*{poster}" type="text" class="form-control" /> <span
					id="movie.help.poster"></span>
			</fieldset>
			<fieldset class="form-group">
				<label>Rating: </label> <input id="movie.field.rating"
					th:field="*{rating}" type="number" class="form-control" /> <span
					id="movie.help.rating"></span>
			</fieldset>
			<fieldset class="form-group">
				<label>Category: </label> <select id="movie.field.category"
					th:field="*{category}" class="form-control">
					<option value="Best Picture">Best Picture</option>
					<option value="Cinematography">Cinematography</option>
					<option value="Costume Design">Costume Design</option>
					<option value="Directing">Directing</option>
					<option value="Film Editing">Film Editing</option>
					<option value="Markup and Hairstyling">Markup and
						Hairstyling</option>
					<option value="Music Original Score">Music (Original
						Score)</option>
					<option value="Music Original Song">Music (Original Song)</option>
					<option value="Production Design">Production Design</option>
					<option value="Sound Editing">Sound Editing</option>
					<option value="Sound Mixing">Sound Mixing</option>
					<option value="Visual Effects">Visual Effects</option>
					<option value="Writing Adapted Screenplay">Writing
						(Adapted Screenplay)</option>
					<option value="Writing Original Screenplay">Writing
						(Original Screenplay)</option>
				</select> <span id="movie.help.category"></span>
			</fieldset>
			<fieldset>
				<label>Result: </label> <label class="form-control " ><input
					id="movie.field.result.winner" name="movie.field.result"
					th:field="*{result}" type="radio" value="true" />Winner</label> <label
					class="form-control" ><input id="movie.field.result.nominee"
					name="movie.field.result" th:field="*{result}" type="radio"
					value="false" />Nominee</label> <span id="movie.help.result"></span>
			</fieldset>
			<fieldset>
				<input id="btnSave" class="btn btn-primary" type="submit"
					value="Save" /> <input id="btnClear" class="btn btn-secondary"
					type="submit" value="Clear" />
			</fieldset>
		</form>
		<table class="table">
			<caption id="tblcaption" th:text="${moviesCounter}">1 items</caption>
			<thead>
				<tr>
					<th>title</th>
					<th>released date</th>
					<th>budget</th>
					<th>poster</th>
					<th>rating</th>
					<th>category</th>
					<th>winner</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="tblBody">
				<tr th:each="movie: ${movies}">
					<td th:text="${movie.title}">The Shape of Water</td>
					<td th:text="${movie.releasedDate}">2017-12-22</td>
					<td th:text="${movie.budget}">19.400.000</td>
					<td><a th:href="${movie.poster}"
						href="https://drraa3ej68s2c.cloudfront.net/wp-content/uploads/2017/12/12163133/87954c22e6e3783117f13feadf7e9681f463b7011a91c7af2ebd1a962d20aa53-195x195.jpg"
						target="_black"><img th:src="${movie.poster}"
							src="https://drraa3ej68s2c.cloudfront.net/wp-content/uploads/2017/12/12163133/87954c22e6e3783117f13feadf7e9681f463b7011a91c7af2ebd1a962d20aa53-195x195.jpg"
							width="30px"></a></td>
					<td th:text="${movie.rating}">74</td>
					<td th:text="${movie.category}">Best Picture</td>
					<td th:text="${movie.result}">yes</td>
					<td><form
							th:action="@{'/t/movies/actions/delete/' + ${movie.id}}"
							method="post">
							<button type="submit">delete</button>
						</form></td>
					<td><form
							th:action="@{'/t/movies/actions/edit/'   + ${movie.id}}"
							method="post">
							<button type="submit">edit</button>
						</form></td>
				</tr>
			<tbody>
		</table>
	</div>

	<div id="chartContainer" style="height: 300px; width: 100%;"></div>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

	<script th:inline="javascript">
      /*<![CDATA[*/
    	  var data = [
    		/*[# th:each="item : ${data}"]*/
    		{ y: /*[[${item.counter}]]*/, label: /*[[${item.year}]]*/},
    		/*[/]*/
		];
       /*]]>*/
       var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "Movies by Year"
	},
	axisY: {
		title: "quantidade"
	},
	data: [{
		type: "column",
		showInLegend: true,
		legendMarkerColor: "grey",
		legendText: "Year",
		dataPoints: data
	}]
});
chart.render();
</script>


	<script src="app.js">

	</script>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>
