<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<title>search by title and year</title>
</head>
<body>
	<div class="container">
		<h1 class="pagetitle">search by title and year</h1>


		<form id="frm" method="post" th:action="@{/t/search-movie}"
			>
			<div id="messageArea">
			</div>
			<fielset>
				<input type="text" name="title" placeholder="type a title" />
			</fielset>
			<fielset>
				<input type="number" name="year" min="1970" placeholder="select a year" />
			</fielset>
			<button type="submit">Search</button>
		</form>
		<table class="table">
			<caption id="tblcaption" ><span th:text="${moviesCounter}">1</span> items</caption>
			<thead>
				<tr>
					<th>title</th>
					<th>released date</th>
					<th>budget</th>
					<th>poster</th>
					<th>rating</th>
					<th>category</th>
					<th>winner</th>
				</tr>
			</thead>
			<tbody id="tblBody">
				<tr th:each="movie: ${movies}">
					<td th:text="${movie.title?: 'oi'}">The Shape of Water</td>
					<td th:text="${movie.releasedDate}">2017-12-22</td>
					<td th:text="${movie.budget}">19.400.000</td>
					<td><a th:href="${movie.poster}"
						href="https://drraa3ej68s2c.cloudfront.net/wp-content/uploads/2017/12/12163133/87954c22e6e3783117f13feadf7e9681f463b7011a91c7af2ebd1a962d20aa53-195x195.jpg"
						target="_black"><img th:src="${movie.poster}"
							src="https://drraa3ej68s2c.cloudfront.net/wp-content/uploads/2017/12/12163133/87954c22e6e3783117f13feadf7e9681f463b7011a91c7af2ebd1a962d20aa53-195x195.jpg"
							width="30px"></a></td>
					<td th:text="${movie.rating}">74</td>
					<td th:text="${movie.category}">Best Picture</td>
					<td th:text="${movie.result}">yes</td>
				</tr>
			<tbody>
		</table>
	</div>



	<script src="app.js">

	</script>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>
