<head>
<meta charset="UTF-8">
<title>Exemplos</title>
</head>
<h1>Exemplos</h1>
<ul>
	<li><a href="examples/practice17/index.html">Prática 17</a></li>
	<li><a href="examples/practice18/index.html">Prática 18</a></li>
	<li><a href="examples/practice19/index.html">Prática 19</a></li>
	<li><a href="examples/practice20/index.html">Prática 20</a></li>
</ul>