<head>
<meta charset="UTF-8">
<title>Práticas</title>
</head>
<h1>Práticas</h1>
<ul>
	<li><a href="practices/practice17/index.html">Prática 17</a></li>
	<li><a href="practices/practice18/index.html">Prática 18</a></li>
	<li><a href="practices/practice19/index.html">Prática 19</a></li>
	<li><a href="practices/practice20/index.html">Prática 20</a></li>
</ul>