<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="fragments/header :: header('demo')"> </div>
<span th:text="${outra.title}">Titulo</span>
<div th:replace="fragments/footer :: footer"> </div>
</body>
</html>
